<!DOCTYPE html>
{% load i18n %}
<html lang="en-us" >
<head>
<title>Log in | June12.net</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />


<meta name="robots" content="NONE,NOARCHIVE" />
</head>


<body class=" login"
  data-admin-utc-offset="3600">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/accounts/login/">June12 Login</a></h1>

</div>
        
        
    </div>
    <!-- END Header -->
    
    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        
        




<div id="content-main">


{% block content %}
<form method="post" action="">
  {% csrf_token %} 
<div class="form-row">
     {{ form.as_p }}

</div>
<div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
	  <input type="hidden" name="next" value="{{ next }}" />
  </div>
</form>

<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
{% endblock %}
</div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>

