<!DOCTYPE html>

<html lang="en-us" >
<head>
<title>Complete Registration | June12.net</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />

</head>

<body class=" login"
  data-admin-utc-offset="3600">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/accounts/login/">Registration Complete</a></h1>

</div>
        
        
    </div>
    <!-- END Header -->
    
    

    
        
    

    <!-- Content -->
    <div id="content" class="colM">
        
        
        




<div id="content-main">

<p>Your registration is complete. You are an inactive user</p>

<p>Please <strong>Click on the registration link sent to your email address to activate your account.</strong></p>

<p>Thank you for registering with us.</p>
<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>

        
        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>